{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h5 class="mt-5 mb-4"><b>Текущие время и дата:</b> <code>{{ time }}</code></h5>
        <h5 class="mt-5 mb-4"><b>Название класса контроллера:</b> <code>App\Controller\HomeController</code></h5>
        <h5 class="mt-5 mb-4"><b>Название метода контроллера:</b> <code>index()</code>(метод fetchData() запрашивает трейлеры из БД, через репозиторий)</h5>

        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <table class="table table-bordered">
            {% for trailer in trailers %}
                <tr>
                    <td><a href="{{ routeCollector.getRouteParser().urlFor('trailer', {'id': trailer.id}) }}"> {{ trailer.title }}     </a></td>
                    <td><img src="{{ trailer.image }}" alt="Trailer's poster" ></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
