{% extends 'main.html.twig' %}

{% block title %} {{ trailer.title }} {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4"></h1>
        <table class="table table-bordered">
            <tr>
                <td style="text-align: center" width="50%"><a href="{{ routeCollector.getRouteParser().urlFor('main') }}">Назад</a></td>
                <td style="text-align: center" width="50%"><a href="{{ trailer.link }}" target="_blank">На страницу трейлера</a></td>
            </tr>
        </table>
        <h1 class="mt-5 mb-4"></h1>

        <table class="table table-bordered">
            <tr>
                <td style="text-align: center" colspan="2"><b>{{ trailer.title }}</b></td>
            </tr>
            <tr>
                <td width="20%"><img width="100%" src="{{ trailer.image }}" alt="Trailer's poster"></td>
                <td>Описание: <br> {{ trailer.description }}</td>
            </tr>
        </table>
    </div>
{% endblock %}